@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Local Hack Day: Learn 2022</h1>
    <p>Thank you for being here with us!</p>
</div>
